.Details h1 {
    margin-left: 2.1em;
}

.detailsContainer {
    border-radius: .5em;
    background-color: white;
    margin: 3em 5em;
    box-shadow: .5em .5em 2em #282c34;
}

.detailsInfo {
    display: flex;
}

.imageContainer {
    border-radius: .5em;
    width: 20rem;
    margin: 1em 2em;
}

.detailsImage {
    height: 100%;
    width: 15rem;
    object-fit: contain;
}

.infoContainer {
    margin: 1.5em;
}

.imageList {
    margin: 2em;
    display: grid;
    grid-template-columns: auto auto auto;
}

.imageItem {
    width: 40%;
    margin: auto auto 1em;
    height: auto;
}
