.reviewListContainer {
    border-radius: 0.5em;
    justify-content: space-around;
    background-color: white;
    margin: 3em 5em;
    box-shadow: 0.5em 0.5em 2em #282c34;
}

.reviewItem {
    margin: 1em;
}

.reviewListGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.ratingTotal {
    display: flex;
    text-align: center;
    margin: 1em;
    padding-top: 1em;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
}

.ratingText {
    padding-top: 1%;
}

.ratingUserItem {
    display: flex;
    margin-bottom: 0;
}

/*  */

.reviewListContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70em;
    box-shadow: .5em .5em 2em #282c34;
    border-radius: .5em;
    padding: 1.5em 2.5em;
    gap: 1em;
}

.reviewListContainer h2, h5 {
    margin-bottom: 0 !important;
}

.titleRating {
    display: flex;
    gap: .4em;
    align-items: baseline;
}

.titleRating .stars {
    position: relative;
    top: .5em;
}

.titleRating span {
    font-weight: 900 !important;
}

.contentReviews {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1.5em;
}