.containerHome {
  margin: 0%;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%
}

.containerContent {
  display: flex;
  justify-content: space-between;
}

.containerCards{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  margin-right: 2%;
}

.orderButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.toglleDropDown {
  background-color: #169E85 !important;
  border-color: #169E85 !important;
  font-size: 0.8rem !important;
}

.toglleDropDown:hover {
  background-color: #4DAE9C !important;
  border-color: #4DAE9C !important;
}

.toglleDropDown:focus {
  background-color: #4DAE9C;
  border-color: #4DAE9C;
  box-shadow: none !important;
}

.dropdown-item {
  font-size: 0.7rem;
}

.dropdown-item:active {
  background-color: #e9ecef !important;
  font-size: 0;
}

.cardRating {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.5em !important;
  width: 7.5em !important;
}

.cardStar {
  margin: 0;
  font-size: 1.2rem;
  color: #888;
}

.cardStarActive {
  margin: 0;
  font-size: 1.2rem;
  color: #169E85;
}