.containerHome {
  margin: 0%;
  padding: 0%;
  width: 100%
}

.containerContent {
  display: flex;
  justify-content: space-between;
}

.containerCards{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
  margin-right: 2%;
}