.Card{
  background-color: #FFFFFF;
  display: grid;
  border-radius: 0.1em;
  grid-template-columns: 1fr 3fr 1fr;
  transition: all 0.3s;
  border-bottom: solid #EEEEEE;
  padding: 2% 0 2% 0; 
}

.CardImg{
  height: 100%;
}

.CardIcon{
  margin: 20px;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.InfoDiv{
  padding-left: 5%;
}

.ButtonsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Price{
  font-weight: 700;
}

a, p, h2 {
  text-decoration: none;
}