.card {
  display: flex;
  flex-direction: row !important;
  width: 100% !important;
  height: 43vh !important;
  transition: all ease .5s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-.5em);
}

.containCardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerName {
  font-weight: 600 !important;
}

.containerListDescription {
  width: 8rem;
}

.containCardImage {
  margin: 1rem;
  width: 15rem;
}

.cardImage {
  height: 100%;
  width: 15rem;
  object-fit: contain;
}

.containerButton {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.CardIcon {
  margin: 0.5em !important;
  width: 1.9em !important;
  height: 1.9em !important;
  color: transparent !important;
  stroke: #888;
  stroke-width: 0.6px;
}

.CardIcon:hover {
  color: #169E85 !important;
  stroke: none;
  stroke-width: 0;
}

.cardPrice {
  color: #169E85 !important;
  font-size: 1.5em;
}