@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.navbar-brand {
    color: #169E85 !important;
    font-family: 'Satisfy', cursive;
    font-size: 20px !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #dddddd !important; 
}

.btn-outline-success {
    color: #169E85 !important;
    border-color: #169E85 !important;
}

.btn-outline-success:hover {
    color: white !important;
    background-color: #169E85;
}

.btn-outline-success:focus {
    box-shadow: none;
    background-color: #169E85 !important;
    color: white !important;
}

.btn-outline-success:active {
    box-shadow: none;
    background-color: #169E85 !important;
    color: white !important;
}

.btn-outline-success:active:focus {
    box-shadow: none;
}

.btn-outline-secondary {
    color: white !important;
    border-color: white !important;
}

.btn-outline-secondary:hover {
    color: black !important;
    background-color: white !important;
}

.btn-outline-secondary:focus {
    box-shadow: none;
    background-color: white !important;
    color: black !important;
}

.btn-outline-secondary:active {
    box-shadow: none;
    background-color: white !important;
    color: black !important;
}

.btn-outline-secondary:active:focus {
    box-shadow: none;
}

.ProfileImg {
    height: 50px;    
    border-radius: 50%;
    margin: 0 20px;
}

.Loading{ color: red;}