.navbar-brand {
    color: #169E85 !important;
    font-weight: 600;
    font-style: italic;
}

.nav-link {
    color: white !important;
}

.btn-outline-success {
    color: #169E85 !important;
    border-color: #169E85 !important;
}

.btn-outline-success:hover {
    color: white !important;
    background-color: #169E85;
}

.btn-outline-secondary {
    color: white !important;
    border-color: white !important;
}

.btn-outline-secondary:hover {
    color: black !important;
    background-color: white !important;
}

.ProfileImg {
    height: 50px;    
    border-radius: 50%;
    margin: 0 20px;
}
.Loading{ color: red;}