@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*#212529 (NO BORRAR! Color del navBar por si se llega a usar)*/

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0,.1);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:any-link{
  color: #333333;
  text-decoration: none;
}

:any-link:hover{
  color: #333333;
}
