body{
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEDED;
}

:any-link{
  color: #333333;
  text-decoration: none;
}

:any-link:hover{
  color: #333333;
}
